# ThinkPower AC Power Connection Failsafe Recovery Trigger
# Automatically switches out of Ultra/Save into Balanced mode when charger is plugged in
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/usr/local/bin/power-profile-manager ac-event"
