[Desktop Entry]
Name=ThinkPower Tray
Comment=Advanced Battery & Power Management Tray for KDE Plasma
Exec=sh -c 'exec "${HOME}/.local/bin/power-tray.py"'
Icon=battery-profile-balanced-symbolic
Terminal=false
Type=Application
Categories=Utility;System;
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
